<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--   <canvas id="canvas" content="width=device-width" height="300"; style="position: absolute; ">
    Your browser does not support the canvas element.
    </canvas>
    <script src="/js/backgroundLine.js" ></script>-->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <meta property="og:image" content="/assets/pattern_2.png" />
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/assets/favicon.png?" type="image/png">
    <link rel="icon" href="/assets/favicon.png?" type="image/png">

    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:regular,bold,bolditalic,semi-bold,black,blackitalic,light,medium">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="{{ "/css/bootstrap-theme.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
