<header class="site-header">

  <div class="wrap">

<!--  <a class="site-title" href="{{ site.baseurl }}/"><img src="/assets/header.png" style="width: 600px"></a>
{% if (page.url == "/about/" ||  page.url == "/") %}
   <canvas id="canvas" width="1000" height="280"; style="position: absolute; transform: translate(-500px,-50px);" >
    Your browser does not support the canvas element.
    </canvas>
    <script src="../js/backgroundLine.js" ></script>
{% endif %}-->

    <nav class= "navbar" >

      <div class="container">
        <div class="navbar-header"  >
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>          
        </div>
        <div class="site-title" ></div>
        <div class="navbar-collapse collapse"  >
          <ul class="nav navbar-nav">
            {% if page.url == "/about/" %}
            <li class="active"><a href="/">HOME</a></li>
            {% endif %}
            {% if page.url == "/" %}
            <li><a href="/about" >ABOUT</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </nav>

</header>
