/**
 * Site header
 */

.site-header {
    position: relative;
    text-align: center;
   /* background-color: #FFA36D*/
}
.site-title, .site-title a, .site-title a:visited{
    font-size: 30px;
    font-family: Fira Sans Condensed;
    font-weight: 700;
    text-align: center;
    vertical-align: center;
    padding-bottom: 30px;
    color: $background-color;
}

.site-title a:hover {
    color: $highlight-text-color;  
    text-decoration: none !important;

    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    transition-timing-function: cubic;
    
}
.site-header{
    background-color: $brand-color;
    color: $background-color;
    padding-top: 30px
}
.navbar .navbar-nav {

    display: inline-block;
    float: none;
    font-family: Fira Sans Condensed;

}
.nav a {
    color: #022631;
    font-size: 25px;
    font-family: Fira Sans Condensed;
    font-weight: 700;
  &:hover {
        color: black;
  }
}
.tag-text{
    color: #022631;
    font-size: 18px;
    font-family: Fira Sans Condensed;
    font-weight: 400;
}


.navbar-brand{

    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 25px;
}

.navbar-nav > li {
   background-color: transparent;
}
.navbar-nav > li a:hover{
  color: $brand-color; 
  background-color: transparent;
  font-family: Fira Sans Condensed;

}

.icon-nav {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    border: solid 2px $brand-color;
    display:inline-block;
    
    margin: 0;
    border-radius: 100%;
    &:hover {
       border-color: $background-color;  

        -webkit-transition: border-color 0.2s ease-out;
        transition: border-color 0.2s ease-out;

        transition-timing-function: cubic;
  }
}

.post-nav > a{
    width: 10%;
}

.post-nav{

    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;

    display: flex;
    margin-left: auto;
    margin-right: auto;

   flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.home-button{
    
   /* display: block;
    margin-left: auto;
    margin-right: auto;*/
    width: 100px;
    display: inline-block;
    margin: 0;

    color: $background-color;
    font-size: 25px;
    font-family: Fira Sans Condensed;
    font-weight: 700;
    text-align: center;
    
    &:hover {
        color: black;
  }
}

/**
 * Site footer
 */

.site-description{
    font-size: 18px;
    font-family: Fira Sans Condensed;
    font-weight: 600;
    color: black; 
    vertical-align: bottom;
    text-align: center;
    
    line-height: 40px;
}

.footer-about{
    font-size: 30px;
    font-family: Fira Sans Condensed;
    font-weight: 600;
    color: $brand-color; 
    vertical-align: bottom;
    text-align: center;
    
    line-height: 40px;
    margin-left: 20px;
}
.footer-item {
     margin-left: 10px;
    margin-right: 10px;
}
.custom-site-footer{

    display: flex;
    justify-content: center;
    width: 100%;
}

.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:  -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
 .page-content {
  
    margin: auto;
    width: 100%;
    
}
.home{
    width: 100%;

    padding: 0;
}
.page-heading {
    font-size: 20px;

}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
        &:hover {
         color: $brand-color;
         }
    }
}   

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
 
:lang(ja){
	font-family: "Rounded Mplus 1c";
	font-weight: 400;
}

.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;
}

.post-nav {
    text-align: center;
    line-height: 0;

}

.post-title {
    font-size: 40px;
    font-family: Fira Sans Condensed;
    font-weight: 900;
    color: $highlight-text-color;
    display: inline-block; 
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    @include media-query($on-laptop) {
        font-size: 36px;
        font-family: Fira Sans Condensed;
    }
}
.post-subtitle {
    font-size: 40px;
    font-family: Fira Sans Condensed;
    font-weight: 800;
    text-align: center;
    padding-top: 20px;

    @include media-query($on-laptop) {
        font-size: 36px;
        font-family: Fira Sans Condensed;
        }
}
.post-subtitle:lang(ja) {
    font-size: 40px;
    font-family: "Rounded Mplus 1c";
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    @include media-query($on-laptop) {
        font-size: 36px;
        font-family: "Rounded Mplus 1c";
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: Fira Sans Condensed;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    h2 {
        font-size: 32px;
		font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 28px;
                font-family: Fira Sans Condensed;

        }
    }

    h3 {
        font-size: 26px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 22px;
                font-family: Fira Sans Condensed;

        }
    }

    h4 {
        font-size: 20px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 18px;
                font-family: Fira Sans Condensed;

        }
    }
}

/**
 * Misc
 */
.preview-panel {
  
     position: relative;
    width: 200px;
    margin: 20px;
}

.text{
    white-space: nowrap; 
    color: #FFFFFFE0;
 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 22px;
    line-height: 180px;

    text-align: center;
    color: black;

    opacity: 1;    
}

.overlay {
    width: 200px;
    height: 200px;

    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    margin-top: 0px;
    position: absolute;
    border-radius: 80px;
    opacity: 0;

    color: black;
    /*filter:url('#goo');*/
     &:hover, &:focus, &:active {
                
         border-radius: 100px;
        opacity: 1;

        -webkit-transition: opacity 0.2s ease-out, border-radius 0.4s ease-out;
        transition: opacity 0.2s ease-out, border-radius 0.4s ease-out;

        transition-timing-function: cubic;

    }
   
}



.hidden {
  display: none!important;
  visibility: hidden!important;
}

.tag-item {
    font-size: 19px;
    font-family: Fira Sans Condensed;
    font-weight: 200;
    color: black; 
    
    &:hover, &:focus, &:active {
        
        color: #FF0000;

        -webkit-transition: color 0.2s ease-out,;
        transition: color 0.2s ease-out;

        transition-timing-function: cubic;

    }
}
.active{
    font-size: 21px;
    font-family: Fira Sans Condensed;
    font-weight: 600;
    color: red; 
   
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.flex-container{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.base {
    position: relative;
    top: 0;
    left: 0;
}

@keyframes example {
    from {background-color: black;}
    to {background-color: #B2342A;}
}
.line{
    width: $content-width;
    height: 3px;
       
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
}

.about{
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: $highlight-text-color;
        text-decoration: none;
    }
}

.custom-cursor{
    text-align: center;
    width:330px;
    height:120px;
    background-color: #161514; 
    padding-top: 20px;
    line-height: 40px; 
    margin: 10px;
}
.custom-cursor h3{
    color: $background-color;
    font-weight: 600;
}

.custom-cursor.hand{
    cursor: url('/assets/mouse_pointer/cursor_open_hand.svg'), auto;
}
.custom-cursor.hand:active{
    cursor: url('/assets/mouse_pointer/cursor_closed_hand.svg'), auto;
}

.custom-drag-cursor{
    text-align: center;
    width:160px;
    height:100px;
    background-color: #161514; 
    padding-top: 10px;
    line-height: 30px; 
    margin: 2px;
}

.custom-drag-cursor h3{
    color: $background-color;
    font-weight: 600;
}

