/**
 * Site header
 */
.site-header {
    position: relative;
    text-align: center;

 /*   background-color:  #B2342A;*/
}

.site-title{
    font-size: 30px;
    font-family: Fira Sans Condensed;
    font-weight: 700;
    text-align: left;
    padding-left: 200px;
    padding-top: 30px;

}
.navbar .navbar-nav {

    display: inline-block;
    float: none;
    font-family: Fira Sans Condensed;

}
.nav a {
    color: #022631;
    font-size: 25px;
    font-family: Fira Sans Condensed;
    font-weight: 700;
  &:hover {
        color: black;
        border-radius: 50px;
  }
}
.tag-text{


    color: #022631;
    font-size: 18px;
    font-family: Fira Sans Condensed;
    font-weight: 400;
}


.navbar-brand{

    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 25px;
}

.navbar-nav > li {
   background-color: transparent;
  border-radius: 50px;
}
.navbar-nav > li a:hover{
  color: #B2342A; 
  background-color: transparent;
  font-family: Fira Sans Condensed;

}

.center-image {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    background-color: transparent;
    display:inline-block;
    border-radius: 100%;
    
    background: transparent;
    margin: 0;

    &:hover {
       background-color: #B2342A;  

        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;

        transition-timing-function: cubic;
  }
}

.post-nav > a{
    width: 100%;
}

.post-nav{

    width: 50%;
    margin-top: -50px;
    margin-bottom: 10px;

    display: flex;
    margin-left: auto;
    margin-right: auto;

   flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.home-button{
    
   /* display: block;
    margin-left: auto;
    margin-right: auto;*/
    width: 100px;
    display: inline-block;
    margin: 0;

    color: #022631;
    font-size: 25px;
    font-family: Fira Sans Condensed;
    font-weight: 700;
    text-align: center;
    
    &:hover {
        color: black;
  }
}

/**
 * Site footer
 */

.site-description{
    font-size: 18px;
    font-family: Fira Sans Condensed;
    font-weight: 600;
    color: black; 
    vertical-align: bottom;
    text-align: center;


  
    line-height: 40px;
}
.custom-site-footer{

    display: grid;
    
    width: 100%;
/*
    height: 40px;

    transform: translate(-25%);
    grid-template-rows: 50px 200px;*/
    grid-template-columns: 10% 10% 60% 20%;
    grid-gap: 0px;
   
    
}

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width:  -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
 .page-content {
  
    margin: auto;
    width: 100%;
    
}
.home{
    width: 150%;

    padding: 0;
   /* margin: auto;
*/
margin-left: -25%;
}
.page-heading {
    font-size: 20px;

}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
        &:hover {
         color: $brand-color;
         }
    }
}   

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit
}

.post-nav {
    text-align: center;
    line-height: 3;

}

.post-title {
    font-size: 40px;
    font-family: Fira Sans Condensed;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid #B2342A;
    @include media-query($on-laptop) {
        font-size: 36px;
        font-family: Fira Sans Condensed;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: Fira Sans Condensed;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
    h2 {
        font-size: 32px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 28px;
                font-family: Fira Sans Condensed;

        }
    }

    h3 {
        font-size: 26px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 22px;
                font-family: Fira Sans Condensed;

        }
    }

    h4 {
        font-size: 20px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 18px;
                font-family: Fira Sans Condensed;

        }
    }
}


/**
 * Misc
 */
.preview-panel {
  
     position: relative;
    width: 200px;
    margin: 20px;
}

.text{
    white-space: nowrap; 
    color: #FFFFFFE0;
 
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 22px;
    line-height: 180px;

    text-align: center;
    color: black;

    opacity: 1;    
}

.overlay {
    width: 200px;
    height: 200px;

    bottom: 0;
    left: 0;
    right: 0;

    overflow: hidden;
    margin-top: 0px;
    position: absolute;
        
    border-radius: 80px;
    opacity: 0;
    /*background-color: #B2342AC0; */
    color: black;
    /*filter:url('#goo');*/
     &:hover, &:focus, &:active {
        
        border-radius: 100px;
        
        opacity: 1;

        -webkit-transition: opacity 0.2s ease-out, border-radius 0.4s ease-out;
        transition: opacity 0.2s ease-out, border-radius 0.4s ease-out;

        transition-timing-function: cubic;

    }
   
}



.hidden {
  display: none!important;
  visibility: hidden!important;
}

.tag-item {
    font-size: 17px;
    font-family: Fira Sans Condensed;
    font-weight: 200;
    color: black; 
    
    &:hover, &:focus, &:active {
        
        color: #FF0000;

        -webkit-transition: color 0.2s ease-out,;
        transition: color 0.2s ease-out;

        transition-timing-function: cubic;

    }
}
.active{
    font-size: 17px;
    font-family: Fira Sans Condensed;
    font-weight: 600;
    color: red; 
   
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.flex-container{
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.base
    {
        position: relative;
        top: 0;
        left: 0;
    }

@keyframes example {
    from {background-color: black;}
    to {background-color: #B2342A;}
}
 .line
    {
        width: $content-width;
        height: 3px;
       
        background-color: red;
        animation-name: example;
        animation-duration: 4s;
    }

