/**
 * Site header
 */
.site-header {
    position: relative;
    text-align: center;

    background-color: #B2342A;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-family: Fira Sans Condensed;

}
.nav a {
  color: #022631;
  font-size: 21px;
    font-family: Fira Sans Condensed;
    font-weight: 700;

  &:hover {
    color: black;
  }
}
.navbar-brand{
     font-family: Fira Sans Condensed;
    font-weight: 700;
}

.navbar-nav > li a:hover{
  color: white;
  background-color: #B2342A;
  font-family: Fira Sans Condensed;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: 0;
}

.page-heading {
    font-size: 20px;

}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
        &:hover {
         color: $brand-color;
         }
    }
}   

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

}

.post-link {
    display: block;
    font-size: 24px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit
}

.post-nav {
    text-align: center;
    line-height: 3;

}

.post-title {
    font-size: 40px;
    font-family: Fira Sans Condensed;
    font-weight: 900;
    text-align: center;
    padding-top: 20px;
border-top: 1px solid MidnightBlue;
    @include media-query($on-laptop) {
        font-size: 36px;
        font-family: Fira Sans Condensed;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: Fira Sans Condensed;

    h2 {
        font-size: 32px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 28px;
                font-family: Fira Sans Condensed;

        }
    }

    h3 {
        font-size: 26px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 22px;
                font-family: Fira Sans Condensed;

        }
    }

    h4 {
        font-size: 20px;
    font-family: Fira Sans Condensed;

        @include media-query($on-laptop) {
            font-size: 18px;
                font-family: Fira Sans Condensed;

        }
    }
}


/**
 * Misc
 */
.preview-panel {
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: center;

}



/* Centered text */
.centered {

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    border: solid transparent 10px;

    width: 200px;
    height: 200px;
    
    top: 50%;
    left: 50%;
    transform: translate(-5%, -95%);

   
    display: inline-block;
    font-family: Fira Sans Condensed;
    font-weight: 700;
    font-size: 22px;
    line-height: 180px;
    letter-spacing: 1px;

    color: #FFFFFFE0;
    
    opacity: 1;
   
    border-radius: 50px;
    &:hover, &:focus {
        text-decorate : underline;
        background-color: #B2342AC0; 
        border-radius: 7px;
        color: black;
        letter-spacing: 0px;
    }

    /*&:focus {
        text-decorate : underline;
        background-color: #B2342AC0; 
        border-radius: 7px;
        color: black;
        letter-spacing: 0px;
    }*/
    -webkit-transition: background-color 0.2s ease-out ;
    transition: background-color 0.2s ease-out;

    -webkit-transition:  color 0.2s ease-out;
    transition: color 0.2s ease-out;

     -webkit-transition: border-radius 0.4s ease-out ;
    transition: border-radius 0.4s ease-out;

    transition-timing-function: cubic;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}


.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: repeat(2, 200px);
}

