---
layout: post_layout
---



<div class="wrap-header-post"  style="background-color:{{ page.color }};">
  <div class="post-nav" ontouchstart="">
    {% if page.next.url %}
      <a href="{{ page.next.url }}"><img class="center-image" src="/assets/icons/previous.png" style="width: 50px;"></a>
     <!-- <a href="{{ page.next.url }}"><img class="previous-icon"></a>-->
    {% endif %}
    <a href="/" ><img class="center-image" src="/assets/icons/separator-200.png" style="width: 50px;"></a>
    {% if page.previous.url %}
      <a href="{{ page.previous.url }}"><img class="center-image" src="/assets/icons/next.png" style="width: 50px;"></a>
     <!-- <a href="{{ page.previous.url }}"><img class="next-icon"></a>-->
    {% endif %}
  </div>
</div>
<div class="post">
 <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:regular,bold,bolditalic,semi-bold,black,blackitalic,light,medium|Rounded+Mplus+1c:regular,bold,semi-bold,black,light,medium">

  <script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>


<!--
<span >  --  </span>
{% for tag in page.tags %}
        <span class="tag-text">{{ tag | xml_escape }}</span>
        <span >  --  </span>
{% endfor %}
-->

  <header class="post-header" style="position: relative; ">
    <h1 class="post-title">{{ page.title }}
    </h1>
    <p class="post-subtitle" lang="ja">{{ page.subtitle }}</p>
    
  </header>

  <article class="post-content" style="position: relative;">
    {{ content }}
  </article>

</div>
